.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
}
.container-left {
  width: 75%;
}
.container-right {
  width: 55%;
}
.container-left h1 {
  font-size: 45px;
}

.container-left span {
  color: rgb(149, 54, 251);
}

.container-left p {
  font-size: 25px;
}
.container-left-btn button {
  margin-top: 25px;
  color: white;
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
  .home-container {
    padding: 80px 40px;
    display: inline-table;
    justify-content: center;
  }
  .container-left {
    width: 100%;
  }
  .container-right {
    width: 100%;
  }
  .container-left h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .container-left-btn button {
    padding: 5px 12px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .home-container {
    display: inline-block;
    justify-content: center;
    padding: 60px 30px;
  }
  .container-left {
    width: 100%;
  }
  .container-right {
    width: 100%;
  }
  .container-left h1 {
    font-size: 35px;
    margin-bottom: 10px;
  }
  .container-left p {
    font-size: 15px;
  }
  .container-left-btn button {
    padding: 0px 8px;
    font-size: 10px;
  }
}
