 .block-container{
    background-color: rgb(215, 250, 239);
    padding: 40px 80px;
    margin: 40px 80px;
    border-radius: 50px;
    width: fit-content;
    height: 100%;
}
.title{
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;   
} 
.summ {
    font-size: 27px;
    margin: 20px 0px;
}

.div-2 p {
    font-size: 20px;
    margin:20px 0px;   
}

@media only screen and (max-width: 600px){
.block-container {
        padding: 10px 10px;
        margin: 50px 10px;
        border-radius: 30px;
    }

    .title {
        font-size: 28px;
        padding: 10px 15px;
    }

    .summ {
        font-size: 23px;
        padding: 0px 15px;
    }

    .div-2 p {
        font-size: 15px;
        padding: 15px 10px;
    }
          .div-2 button {
              padding: 2px 12px;
              font-size: 12px;
          }
}
