@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: #010101;
}

html{
  overflow-x: hidden;
}

.italiana {
  font-family: "Italiana", sans-serif;
  font-style: normal;
}

.railway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.signature {
  font-family: "Playwrite PE", cursive;
  font-optical-sizing: auto;
}

.inputBox{
  width: 100%;
  background-color: #141414;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.inputBox input{
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
}

.btnBlue{
  background-color: #8700ef;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
}
.btnBlue:hover{
  background-color: #7400b3;
}
.grid{
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 10px;
}

@keyframes pop-up {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-pop-up {
  animation: pop-up 0.5s ease-out;
}

/* Custom Scrollbar CSS */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #8ad6a7;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #57ba7a;
}

/* For Firefox */
.scrollable-div {
  scrollbar-width: thin;
  scrollbar-color: #c5b8d0 transparent;
  background-color: transparent;
}