
.footer {
  width: 100%;
  text-align: center;
  padding: 25px;
  font-weight: 300;
  margin-top: 20px;
  background-color: rgb(240, 240, 240);
}

.footer p {
  font-family: "Sono", sans-serif;
  color: rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) {
  .footer {
    font-size: 13px;
  }
}
